#MAIN ONES

matplotlib
seaborn
numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
scikit-learn==1.6.1
protobuf==3.19.6
python-dotenv
statsmodels
xgboost
pycountry
dotenv
google-generativeai
joblib
plotly




# API
fastapi
pytz
uvicorn

#TBC

#google-cloud-bigquery
#google-cloud-storage==2.14.0
#google-api-core==2.8.2
#googleapis-common-protos==1.56.4

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
#tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
#tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
#tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips


#mlflow==2.1.1
#prefect==2.19.2
